.container {
  background-color: #fff;
}
.logo {
  width: 120px;
}
div a i {
  color: #000000;
  margin-left: 10px;
}
div a i:hover {
  color: #fbaf3a;
}
nav ul li {
  border-radius: 5px;
  color: black;
  font-weight: bold;
}
nav ul li a {
  background-color: #fbaf3a;
  color: black;
}
nav ul li a:hover {
  color: #000;
}
nav ul li a:hover {
  background-color: #b37a13;
}
.active {
  background-color: #000 !important;
  color: #FBAF3A !important;
}
.active:hover {
  background-color: #b37a13;
}
.entrada {
  padding: 6px;
  margin-bottom: 15px;
}
.articulo {
  padding: 12px;
}
.comentarios {
  margin-bottom: 15px;
}
.user {
  border-radius: 50%;
  width: 38px;
}
.form-control:focus {
  border-color: #b37a13;
  box-shadow: inset 0 1px 1px rgba(251, 175, 58, 0.075), 0 0 8px rgba(251, 175, 58, 0.6);
}
.btn-outline-secondary {
  color: #fbaf3a;
  font-weight: bold;
  background-color: #000000;
}
.btn-outline-secondary:hover {
  color: #000000;
  font-weight: bold;
  background-color: #b37a13;
}
